DATABASE_URL=mongodb://sripavishsubbannan_db_user:Sripavish1511@ac-ryd7wky-shard-00-00.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-01.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-02.322kjdi.mongodb.net:27017/?ssl=true&replicaSet=atlas-mk4ww6-shard-0&authSource=admin&appName=ArtisansCorner
JWT_SECRET=your_jwt_secret
CLOUDINARY_URL=your_cloudinary_url
PORT=5000
NODE_ENV=development