# Server Environment Configuration
PORT=5000
NODE_ENV=production

# MongoDB Database Connection String
MONGO_URI=MONGO_URI=mongodb://sripavishsubbannan_db_user:SriPavish15112007@ac-ryd7wky-shard-00-00.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-01.322kjdi.mongodb.net:27017,ac-ryd7wky-shard-00-02.322kjdi.mongodb.net:27017/?ssl=true&replicaSet=atlas-mk4ww6-shard-0&authSource=admin&appName=ArtisansCorner.

# JWT Secret Key
JWT_SECRET=your_jwt_secret_here

# Stripe Payment Gateway API Credentials
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# Cloudinary CDN Image Upload Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
